html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    height: 55px;
    
}

.navbar a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 15px;
}


.navbar .links-wrapper .link-wrapper .nav-link:hover {
    display: flex;
    margin-bottom: 5px;
    background-color: lightgray;
    justify-content: center;
    flex-direction: row;

}

.logo-wrapper:hover {
    display: flex;
    background-color: cornsilk;
   

}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border: solid black;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    border: solid yellow;
    
}



.main-content-wrapper  {
    display: grid;
    
    
    justify-content: space-between;
    align-items: center;
    margin-top: px;
    border: solid red
     
}

h1 {
    display: flex;
    justify-content: center;
}
.image-wrapper {
    display: flex;
    
    height: 300px;
    width: 100%;
    
    border: dotted grey
}

.main-content .main-content-wrapper .image-wrapper .image img {
    display: flex;
    height: 100%;
    width: 1000px;
    margin-left: 350px;
    border: solid black;
}
    


h2 {
    display: flex;
    justify-content: center;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: white;
    background-color: black;
    height: 55px;
    
}

.footer a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 15px;
}

.list-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: dotted green;
}





















/* 
.main-content-wrapper img {
    
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    
}


.main-content-wrapper > img {
    display: flex;
    align-items: center;
    height: 75%;
    width: 75%
}

img {
    filter: sepia();
}

p {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 5px;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
} */
